.not-found-container {
  color: black;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  line-height: 1;
}

.not-found-container p {
  margin: 1%;
}

.not-found-container button {
  padding: 5px;
  margin-top: 15px;
  width: 10vw;
  color: black;
  background-color: var(--hover-button-background-color);
  border-radius: 10px;
}

.not-found-container button:hover {
  color: white;
  background-color: var(--button-selected-color);
}

.computer-dog {
  position: absolute;
  width: 25%;
  right: 0;
}

.crazy-pug {
  position: absolute;
  width: 30%;
  bottom: 0;
  left: 35%;
}

.lining-dog {
  position: absolute;
  width: 18%;
  left: 0;
  bottom: 0%;
  z-index: 1;
}

.lining-golden {
  position: absolute;
  width: 25%;
  left: 0;
  bottom: 15%;
  z-index: 0;
}

.paw-dog {
  position: absolute;
  width: 30%;
  top: 30%;
  right: 15%;
}

.swirling-arrow {
  position: absolute;
  width: 35%;
  height: 50%;
  top: 9%;
  left: 10%;
  z-index: -1;
  rotate: -110deg;
  transform: skew(0deg, -25deg);
}
